.aui-icon-large-to-24px{
  height: 24px;
  width: 24px;
}
.aui-icon-large-to-24px:before {
  font-size: 24px;
  margin-top: -12px;
}
.aui-icon-large-to-20px{
  height: 20px;
  width: 20px;
}
.aui-icon-large-to-20px:before {
  font-size: 20px;
  margin-top: -10px;
}
.simple-qa-action, .simple-qa-action:hover, .simple-qa-action:link, .simple-qa-action:visited {
	color:#A8A8A8;
}
.simple-qa-vote-count {
	color:#333333;
}
.simple-qa-comment {
	color:#A8A8A8;
}
.simple-qa-approved, .simple-qa-approved:hover, .simple-qa-approved:link, .simple-qa-approved:visited {
	color:LimeGreen;
}
.simple-qa-active-vote, .simple-qa-active-vote:hover, .simple-qa-active-vote:link, .simple-qa-active-vote:visited {
	color:#205081;
}
#simple-qa-pagination-section .simple-qa-pagination-link-inactive {
	pointer-events:none;
	cursor:default;
	color:#999;
	text-decoration:none;
}
#simple-qa-pagination-section .simple-qa-pagination-link-inactive:visited, .simple-qa-pagination-link-inactive:active {
	color:#999;
}
#simple-qa-pagination-section .simple-qa-pagination-link-current {
	pointer-events:none;
	cursor:default;
	color:Black;
	vertical-align: super;
    font-size: smaller;
}
#simple-qa-pagination-section .simple-qa-pagination-link-current:visited, .simple-qa-pagination-link-current:active {
	color:Black;
}
.simple-qa-div {
	border-left: 3px solid transparent;
	padding-left: 3px;
}
.simple-qa-approved-div {
	border-left: 3px solid LimeGreen;
	padding-left: 3px;
}
