#simple-qa-overview-table .tablesorter-header {
  cursor: pointer;
}
#simple-qa-overview-table .tablesorter-header.aui-table-column-unsortable {
  cursor: default;
}
#simple-qa-overview-table .tablesorter-header.aui-table-column-unsortable:hover {
  background-color: inherit;
  color: inherit;
}
#simple-qa-overview-table .tablesorter-header:hover,
#simple-qa-overview-table .tablesorter-headerAsc,
#simple-qa-overview-table .tablesorter-headerDesc {
  background: #f5f5f5;
  color: #333;
}
#simple-qa-overview-table .aui-table-header-content:after {
  border: 4px solid transparent;
  content: "";
  display: inline-block;
  margin-left: 5px;
  position: relative;
  width: 0;
}
#simple-qa-overview-table .tablesorter-header:hover .aui-table-header-content:after {
  border-top-color: #333;
  border-bottom-color: transparent;
  opacity: 0.5;
  top: 2px;
}
#simple-qa-overview-table .tablesorter-headerAsc .aui-table-header-content:after,
#simple-qa-overview-table .tablesorter-headerAsc:hover .aui-table-header-content:after {
  border-top-color: transparent;
  border-bottom-color: #333;
  opacity: 1;
  top: -2px;
}
#simple-qa-overview-table .tablesorter-headerDesc .aui-table-header-content:after,
#simple-qa-overview-table .tablesorter-headerDesc:hover .aui-table-header-content:after {
  border-top-color: #333;
  border-bottom-color: transparent;
  opacity: 1;
  top: 2px;
}
#simple-qa-overview-table .tablesorter-headerUnSorted {
  background-color:transparent;
  background:none;
}